# .dockerignore

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
run-docker.ps1

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# IDE
.idea/
.vscode/