version: '3.9'

services:
  api:
    build: .
    container_name: kb_api
    ports:
      - "8001:8001"
    env_file:
      - .env.docker
    environment:
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID:-knowledge-base-api}
      OIDC_ISSUER: ${OIDC_ISSUER:-http://keycloak:8080/realms/ai-rag}
      OIDC_JWKS_URL: ${OIDC_JWKS_URL:-http://keycloak:8080/realms/ai-rag/protocol/openid-connect/certs}
    depends_on:
      - keycloak
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
